:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  margin: 0 auto;
  background-color: antiquewhite;
}

.form-group{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group > input{
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
}

input:focus{
  border: none;
  border: 2px solid dodgerblue;
  outline: none;
}

form > button{
  margin-top: 10px;
  padding: 10px 30px;
  background-color:dodgerblue;
  border: 1px solid navy;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  width: max-content;
  font-size: 16px;
}
